{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{block "title" .}}{{end}} | Hotel Reservation</title>
        <script src="/static/js/tailwind.js"></script>
    </head>
    <body>
        <nav class="">
            <div class="flex justify-between px-10 md:max-w-7xl mx-auto">
                <h3>Bookings</h3>
                <ul class="flex space-x-5">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
       {{block "content" .}}

       {{end}}
    </body>
    </html>
{{end}}